{% extends 'base.html.twig' %}

{% block title %}La bric O'tech - Qui sommes-nous ?{% endblock %}

{% block body %}


<div class="main-title">
    <h1>La Brico O'team au complet !</h1>
</div>

<section  class="row col-10 m-auto"">
    <ul class="list-group list-group-flush about col-lg">
        <li class="list-group-item"><img src="{{ asset('assets/images/charte/avatar-Audrey.pn') }}g"></li>
        <li class="list-group-item name">Audrey</li>
        <li class="list-group-item">Product Owner</li>
        <li class="list-group-item">
            <a href="https://github.com/LunaGraphica90" alt="GitHub" target="_blank"><span class="iconify" data-icon="bi:github" data-inline="false"></span></a>
            <a href="https://www.linkedin.com/in/audreytalfumier/" alt="Linkedin" target="_blank"><span class="iconify" data-icon="entypo-social:linkedin-with-circle" data-inline="false"></span></a>
        </li>
    </ul>

    <ul class="list-group list-group-flush about col-lg">
        <li class="list-group-item"><img src="{{ asset('assets/images/charte/avatar-Xavier.pn') }}g"></li>
        <li class="list-group-item name">Xavier</li>
        <li class="list-group-item">SrumMaster</li>
        <li class="list-group-item">
            <a href="https://github.com/Javier7276" alt="GitHub" target="_blank"><span class="iconify" data-icon="bi:github" data-inline="false"></span></a>
            <a href="https://www.linkedin.com/in/xavier-camus-9b1950210/" alt="Linkedin" target="_blank"><span class="iconify" data-icon="entypo-social:linkedin-with-circle" data-inline="false"></span></a>
        </li>
    </ul>

    <ul class="list-group list-group-flush about col-lg">
        <li class="list-group-item"><img src="{{ asset('assets/images/charte/avatar-Stephane.') }}png"></li>
        <li class="list-group-item name">Stéphane</li>
        <li class="list-group-item">Référent Git</li>
        <li class="list-group-item">
            <a href="https://github.com/Bstephane7" alt="GitHub" target="_blank"><span class="iconify" data-icon="bi:github" data-inline="false"></span></a>
            <a href="#" alt="Linkedin" target="_blank"><span class="iconify" data-icon="entypo-social:linkedin-with-circle" data-inline="false"></span></a>
        </li>
    </ul>

    <ul class="list-group list-group-flush about col-lg">
        <li class="list-group-item"><img src="{{ asset('assets/images/charte/avatar-Maxime.pn') }}g"></li>
        <li class="list-group-item name">Maxime</li>
        <li class="list-group-item">LeadDev Front</li>
        <li class="list-group-item">
            <a href="https://github.com/TourneurMaxime" alt="GitHub" target="_blank"><span class="iconify" data-icon="bi:github" data-inline="false"></span></a>
            <a href="https://www.linkedin.com/in/maxime-tourneur/" alt="Linkedin" target="_blank"><span class="iconify" data-icon="entypo-social:linkedin-with-circle" data-inline="false"></span></a>
        </li>
    </ul>

    <ul class="list-group list-group-flush about col-lg">
        <li class="list-group-item"><img src="{{ asset('assets/images/charte/avatar-Bonna.png') }}"></li>
        <li class="list-group-item name">Bonna</li>
        <li class="list-group-item">LeadDev Back</li>
        <li class="list-group-item">
            <a href="https://github.com/Blinkriss" alt="GitHub" target="_blank"><span class="iconify" data-icon="bi:github" data-inline="false"></span></a>
            <a href="https://www.linkedin.com/in/bonna/" alt="Linkedin" target="_blank"><span class="iconify" data-icon="entypo-social:linkedin-with-circle" data-inline="false"></span></a>
        </li>
    </ul>
</section>

{% endblock %}