{% extends 'base.html.twig' %}

{% block title %}Vos réservations réservation en cours :
{% endblock %}

{% block body %}
<div class="main-title">
    <h1>Mes réservations en cours</h1>
</div>
<section class="row col-10 m-auto">
	<div class="container-details col">
	<a class="retour" href="{{ path('user_read') }}"><span class="iconify" data-icon="dashicons:arrow-left" data-inline="false"></span> Retourner sur mon Bric O'space</a>
		<table class="table table-striped table-hover mt-5">
			<thead>
				<tr>
					<th scope="col">Outil</th>
					<th scope="col">Propriétaire</th>
					<th scope="col">Dates de réservation</th>
					<th scope="col">Modifier / Supprimer</th>
				</tr>
			</thead>

			<tbody>
				{% for booking in bookings %}
					<tr>
						<td>{{booking.tool}}</td>
						<td>{{booking.tool.getUser.firstname}} {{booking.tool.getUser.lastname}}</td>
						<td>Du {{booking.startDate|date("d/m/Y")}} au {{booking.endDate|date("d/m/Y")}}</td>
						<td class="d-flex justify-content-center">
							<a href="{{ path('booking_edit', {'id': booking.id}) }}" class="tool edit" alt="éditer" title="Éditer"><span class="iconify" data-icon="akar-icons:edit" data-inline="false"></span></a>
							<form method="post" action="{{ path('booking_delete', {'id':booking.id}) }}">
								<input type="hidden" name="_method" value="POST">
								<button class="btn delete"><a class="tool delete"><span class="iconify delete" data-icon="typcn:delete-outline" data-inline="false"></span></a>
								</button>
							</form>
						</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>
</section>
{% endblock %}