{% extends 'admin/base.html.twig' %}

{% block title %}La Bric O'tech - Liste des bricosphères{% endblock %}

{% block body %}

<h2>Bricosphères</h2>
<a href="{{ path('admin_bricosphere_add') }}" class="bouton">Ajouter une bricosphère</a>
<table class="table table-striped table-hover">
<thead>
    <tr>
    <th scope="col">#</th>
    <th scope="col">Nom</th>
    <th scope="col">Propriétaire</th>
    <th scope="col" class="col-1">Action</th>
    </tr>
</thead>
<tbody>
    {% for bricosphere in bricosphere %}
        <tr>
        <th scope="row">{{ bricosphere.id }}</th>
        <td>{{ bricosphere.title }}</td>
        <td>{{ bricosphere.creator.firstname }} {{ bricosphere.creator.lastname }}</td>
        <td>
            <a href="{{ path('admin_bricosphere_edit', {'id': bricosphere.id}) }}" class="edit" alt="éditer" title="Éditer">
                <span class="iconify" data-icon="akar-icons:edit" data-inline="false"></span>
            </a>

            <form action="{{ path('admin_bricosphere_delete', {'id': bricosphere.id}) }}" method="post" class="d-inline">
                <input type="hidden" name="_method" value="delete">
                <button class="delete"><span class="iconify" data-icon="typcn:delete-outline" data-inline="false"></span></button>
            </form>
        </td>
        </tr>
    {% endfor %}
</tbody>
</table>


{% endblock %}
